
.h1{
    text-align: center;
    margin: 0px;
    
}
.h2{
    background-color: rgb(218, 99, 99);
}
.class{
    font-weight: bold;
    display: flex;
}
.div2{
    margin-left: 550px;
}
.pr{
    font-weight: bold;
}
.p1{
    font-weight: bold;
}


    




